@charset "utf-8";
/* CSS Document */



h1 {
  font-size: clamp(38px, 3vw, 50px);
  line-height:1.2;
}

h2 {
  font-size: clamp(30px, 2.5vw, 40px);
  line-height:1.2;
}

h3 {
  font-size: clamp(22px, 2vw, 30px);
  line-height:1.2;
}

h4 {
  font-size: clamp(18px, 1.75vw, 25px);
  line-height:1.2;
}

h5 {
  font-size: clamp(14px, 1.5vw, 20px);
  line-height:1.2;
}

h6 {
  font-size: clamp(11px, 1.4vw, 17.5px);
  line-height:1.2;
}

p {
  font-size: clamp(14px, 1.35vw, 16px);
  line-height:1.2;
}


.options-report-float {
position:absolute;
right:30px;
bottom:64px;
width:320px;
background-color: white;    
border: 1px solid #999;
margin-top:0px;
}

.options-report-box {
width:100%;
background-color: white;
}

.options-report-text{
    margin-top:0px;
    margin-bottom:0px;
}

.agent-message{
    text-align: left;
}

.user-message{
    border: 1px;
    border-style: solid;
    padding:4px;
    border-radius: 5px;
    background-color:#87CEEB;
    font-color:white;
    width:400px;
}

.user-message-bubble{
    display: flex;
    justify-content: flex-end;
}
