<!DOCTYPE html>
<html lang="en">
<title>Nugrade v{{version}}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.1.0.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-3.1.0.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-3.1.0.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-3.1.0.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-mathjax-3.1.0.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="./static/home.css">

<!-- Favicon 
<link rel="apple-touch-icon" sizes="57x57" href="./favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="./favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="./favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="./favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="./favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="./favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="./favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="./favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="./favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="./favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="./favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon-16x16.png">
<link rel="manifest" href="/manifest.json"> -->
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<style>
	body,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: "Lato", sans-serif
	}

	body,
	html {
		height: 100%;
		line-height: 1.8;
	}

	/* Full height image header */
</style>

<body>


	<!-- Navbar (sit on top) -->
	<div class="w3-bar w3-black w3-card" style="position: relative;">
		<a class="w3-btn w3-hide-small w3-hide-medium" style="margin-top:6px;" height="28" />NuGrade v{{version}}</a>
		<a class="w3-btn w3-hide-large w3-hide-small" style="margin-top:7px;" height="22" />NuGrade v{{version}}</a>
		<a class="w3-btn w3-hide-large w3-hide-medium" style="margin-top:7px;" height="20" />NuGrade v{{version}}</a>
	</div>


	<div class="w3-row" style="width:100%; max-width:1920px;">
		<div class="w3-col m7 l8">

			<div class="content w3-padding" style="position:relative;">
				{% block content %}
				{{ plot_script | safe}}
				{{ plot_component | safe}}
				{% endblock %}

				<div class="w3-hide-small w3-hide-medium w3-padding options-report-float">
					{{ options_text | safe}}
				</div>


				<div class="w3-hide-large options-report-box w3-white w3-padding" style="width:100%;">
					{{ options_text | safe}}
				</div>

			</div>
		</div>
		<div class="w3-col m5 l4">
			<div class="w3-bar w3-light-gray">
				<a href="/neutrons"
					class="w3-bar-item w3-hover-black w3-button {{'w3-dark-gray' if (options.projectile == 'n')}}">Neutrons</a>
				<a href="/protons"
					class="w3-bar-item w3-hover-black w3-button {{'w3-dark-gray' if (options.projectile == 'p')}}">Protons</a>
			</div>
			<div class="w3-container w3-light-blue w3-padding">
				<div class="w3-container w3-center">
					<h2>Metric Options</h2>
				</div>
				{% block form %}{% endblock %}
				<div class="w3-container w3-left-align">
					<h4 class="w3-center">Energy Coverage Settings</h4>
					<div class="w3-row-padding">
						<label class="w3-label w3-half">Lower Energy (eV)</label>
						<input class="w3-input w3-border w3-half" type="text" name="lower_energy"
							placeholder="Lower bound (eV)" value="{{ options['lower_energy'] }}">
					</div>
					<div class="w3-row-padding">
						<label class="w3-label w3-half">Upper Energy (eV)</label>
						<input class="w3-input w3-border w3-half" type="text" name="upper_energy"
							placeholder="Upper bound (eV)" value="{{ options['upper_energy'] }}">
					</div>

					<div class="w3-row-padding" style="height:29px;">
						<label class="w3-label w3-half">Log Scale</label>
						<input class="w3-check" style="top:2px;" name="energy_coverage_scale" type="checkbox">
					</div>

					<div class="w3-row-padding">
						<label class="w3-label w3-half">Width (eV or Log(eV))</label>
						<input class="w3-input w3-border w3-half" type="text" name="energy_width"
							placeholder="Energy width (eV)" value="{{ options['energy_width'] }}">
					</div>

					<h4 class="w3-center">Precision Settings</h4>

					<div class="w3-row-padding">
						<label class="w3-label w3-half">Metric</label>
						<select class="w3-select w3-half" style="height:29px;" name="scored-metric">
							<option value="" disabled selected>Scored Metric</option>
							<option value="1" selected="selected">Averaged Chi Squared</option>
							<option value="2">Relative Error</option>
						</select>
					</div>

					<div class="w3-row-padding">
						<label class="w3-label w3-half">Weighting</label>
						<select class="w3-select w3-half" style="height:29px;" name="weighting-function">
							<option value="" disabled selected>Weighting Function</option>
							<option value="1" selected="selected">None</option>
							<option value="2">Maxwell-Boltzmann at 20C</option>
							<option value="3">Maxwell-Boltzmann at 320C</option>
							<option value="4">Watt Spectrum</option>
						</select>
					</div>




					{% block options %}{% endblock %}



				</div>

				<div class="w3-center w3-padding">
					<button type="submit" href="/generate"
						class="w3-light-gray w3-hover-pink w3-center w3-button">Generate</button>
				</div>
			</div>
			</form>
		</div>
		<div class="w3-row">
			<div class="w3-col m5 l6">
				<div class="w3-container w3-padding" style="background-color:#FF934F">
					<div class="w3-container w3-center">
						<h2>AI Summary</h2>
					</div>
					<div class="w3-container w3-card w3-padding w3-white"
						style="margin-top:10px;margin-bottom:10px;min-height:200px;max-height:800px;overflow-y:scroll;">
						{% autoescape false %}
						{{ ai_chat_history | safe}}
						{% endautoescape %}
					</div>
				</div>
			</div>

			<div class="w3-col m7 l6">
				<div class="w3-container w3-center w3-light-gray">
					<h2>Nuclide Results</h2>

				</div>

				<div class="w3-padding w3-bar w3-light-gray">
					<form method="post" action="/get_report">
						<input class="w3-input w3-border w3-center w3-bar-item w3-padding" type="text"
							name="report_nuclide" placeholder="Nuclide" value="{{ report_nuclide }}"
							style="width:100px;">
						<button type="submit" href="/get_report"
							class="w3-light-blue w3-hover-pink w3-center w3-bar-item w3-button">Get Report</button>
					</form>
				</div>
			</div>


			<div class="w3-container w3-left-align w3-light-gray w3-padding"
				style="min-height:200px;max-height:800px;overflow:scroll;">
				{% autoescape false %}
				{{ text_report | safe}}
				{% endautoescape %}
			</div>
		</div>
	</div>
</body>

<!-- Footer -->
<footer class="w3-bar w3-black w3-card w3-center">
	<p class="w3-text-white">© 2026 Ian Kolaja | <a href="mailto:ikolaja@berkeley.edu">Contact</a></p>
</footer>
</div>


</body>

</html>