{% extends 'base.html' %}

{% block form %}
<form method="post" action="/generate_protons">
{% endblock %}

{% block options %}

    <div class="w3-row-padding">
        <label class="w3-label w3-half">Evaluation</label>
        <select class="w3-select w3-half" name="evaluation-lib">
          <option value="" disabled selected>Evaluation</option>
          <option value="1">ENDF/B-VIII.0</option>
          <option value="2">ENDF/B-VII.1</option>
        </select>
    </div>

    <h4 class="w3-center">Evaluated Reaction Channels</h4>

    <span>Protons</span>
        <div class="w3-row-padding">
            <input class="w3-check" name="p,el" type="checkbox" checked="checked">
            <label>(p,el)</label>
        </div>
        <div class="w3-row-padding">
            <input class="w3-check" name="p,inl" type="checkbox" checked="checked">
            <label>(p,inl)</label>
        </div>
        <div class="w3-row-padding">
            <input class="w3-check" name="p,g" type="checkbox" checked="checked">
            <label>(p,g)</label>
        </div>
{% endblock %}